* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    background-color: #d2b48c;
}

.lyrics-one {
text-align: center;
margin-top: 25%;
font-family: "Caveat Brush", cursive;
font-size: 30px;
word-spacing: 3px;
}