* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    background-color: #d2b48c;
}

.lyrics-five {
    margin-top: 25%;
    margin-left: 4rem;
    margin-right: 4rem;
    text-align: justify;
    padding: 0px 50px;

}