* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    background-color: #d2b48c;
}

.lyrics-four {
    text-align: left;
    margin-top: 25%;
    margin-left: 15%;
    font-family: "Caveat Brush", cursive;
    font-size: 30px;
    word-spacing: 3px;
}