* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    background-color: #d2b48c;
}

.lyrics-two {
    text-align: center;
    margin-top: 25%;
}